    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Albüm Projesi</title>
        <style>
        .btntrans{
            background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
        }
        </style>
    </head>
    <body class="skin-blue" >
    <div ng-controller="myprofilectrl" >



        <!------------->
        <div class="wrapper">
            <!-- headernavbar -->
            <div ng-include="'Application/Dashboard/header/dashboardheadernav.html'"></div>

            <!--sol bar-->
            <div ng-include="'Application/Dashboard/header/dashboardheaderview.html'"></div>
            <div class="content-wrapper">

                <section class="content">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                        <img ng-model="userdata"   ng-src="data:image/png;base64,{{userdata.uimg}}"
                                              alt="" class="img-rounded img-responsive" />
                                        <p class="label-default" style="margin-top:10px; padding:0;">Resmi Değiştir</p>
                                    <input type="file" file-input="files"  class="form-control" >
                                    <button class="btn-warning" ng-click="setUserdata()">Yükle</button>
                                </div>

                                <div class="col-sm-4 col-md-4" style="padding-left: 80px;">
                                    <blockquote>
                                        <p>{{userdata.usname.toUpperCase()}} {{userdata.uslname.toUpperCase()}}</p> <small><cite title="Source Title">{{userdata.cname.toUpperCase()}} <i class="fa fa-map-marker" aria-hidden="true"></i></cite></small>
                                    </blockquote>
                                    <p> <i class="fa fa-envelope" aria-hidden="true"></i>{{userdata.ulgnname}}
                                        <br
                                        /> <i class="fa fa-asterisk" aria-hidden="true"></i>{{userdata.fname}} {{userdata.blname.toUpperCase()}}
                                        <br /> <i class="fa fa-mobile" aria-hidden="true"></i>{{userdata.phone}}
                                        <br /> <i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{userdata.uyear}}
                                    </p>
                                </div>
                                <div class="col-sm-4 col-md-4" style="padding-left: 300px;">
                                    <button  class="btntrans" ng-click="openpass()"> <i class="fas fa-key"></i>Parola  Değiştir</button>
                                        <button  class="btntrans" ng-click="openuseredit()"> <i class="fas fa-user-edit"></i>Düzenle</button>
                                   
                                    </div>
                            </div>
                        </div>
                </section>
            </div>
            <section id="footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p>Bu Proje Yasin Dalkılıç,Orhan Eser ve Samet Öz Tarafından AngularJs Kullanılarak Geliştirilmiştir.</p>
                        <p class="h6">&copy Tüm  Hakları Saklıdır<a class="text-green ml-2" ></a></p>
                    </div>
                    </hr>
                </div>
            </section>
        </div>
    </div>
</div>
    </body>
    <div class="preloader" style="display: none;">
        <div class="loader"></div>
    </div>
    </html>






