<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Albüm Projesi</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="skin-blue" onload="test()">
<div ng-controller="dashboardctrl"  ng-init="logincontrol()">
<div class="wrapper">
<!-- headernavbar -->
<div ng-include="'Application/Dashboard/header/dashboardheadernav.html'"></div>

 <!--sol bar-->
    <div ng-include="'Application/Dashboard/header/dashboardheaderview.html'"></div>

    <div class="content-wrapper">

        <div class="page-header" style="padding: 20px 20px 0px;">
            <h3 style="margin:0">DENEME FAKÜLTESİ <small>albümüne hoşgeldiniz</small></h3>
        </div>
        <section class="content">

            <div class="row">

                <div id="works"  class=" clearfix grid" style="padding-top: 0px;">
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/1.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Nature</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/1.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/2.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Events</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/2.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/3.jpg" alt="img01"/>
                        <figcaption>
                            <h2>music</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/3.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/4.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Vintage</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/4.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/5.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Typers</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/5.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>

                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/6.jpg" alt="img01"/>
                        <figcaption>
                            <h2>hotel</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/6.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/7.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Chinese</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/7.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/8.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Dicrap</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/8.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/9.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Coffee</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/9.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/10.jpg" alt="img01"/>
                        <figcaption>
                            <h2>cameras</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/10.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/11.jpg" alt="img01"/>
                        <figcaption>
                            <h2>design</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/11.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                        <img src="images/portfolio/12.jpg" alt="img01"/>
                        <figcaption>
                            <h2>studio</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                                <a href="images/portfolio/12.jpg" title="1" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>



                </div>



            </div>



        </section>
    </div>
    <!--
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Yasin Dalkılıç,Samet Öz,Orhan Eser</b>
        </div>
    </footer>-->
</div>
</div>
</body>
</html>





